<article class="full">
	<%= image_tag blog.artwork_url(:full).to_s, :class => "artwork" %>

	<div class="content">
		<div class="padded">
			<header>
				<% if defined? detail %>
					<h1><%= blog.title %></h1>
				<% else %>
					<%= link_to blog do %>
						<h1><%= blog.title %></h1>
					<% end %>
				<% end %>
				<h2>Written by <%= blog.author %></h2>
			</header>
			<%= markdown blog.body %>
			<%= link_to "Edit this blog post", edit_blog_path(blog), {:class => 'arrow'} if current_user %>
		</div>
	</div>
	<footer></footer>

</article>