<%= form_for(@blog) do |f| %>
	<% if @blog.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

			<ul>
				<% @blog.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :artwork, "artwork (714px wide and 100x100px)" %>
		<br/>
		<%= f.file_field :artwork %>
	</div>

	<div class="field">
		<%= f.label :created_at, "created_at" %>
		<br/>
		<%= f.datetime_select :created_at %>
	</div>

	<div class="field">
		<%= f.label :title, "title" %>
		<br/>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :draft, "draft" %>
		<br/>
		<%= f.check_box :draft %>
	</div>

	<div class="field">
		<%= f.label :author, "author" %>
		<br/>
		<%= f.text_field :author %>
	</div>

	<div class="field">
		<%= f.label :teaser, "teaser" %>
		<br/>
		<%= f.text_area :teaser %>
	</div>

	<div class="field">
		<%= f.label :body, "body" %>
		<br/>
		<%= f.text_area :body %>
	</div>

	<div class="actions">
		<%= f.submit "Create" %>
	</div>
<% end %>
