<% content_for :header do %>

	<h1 class="hidden">Goodies</h1>
	<div class="column hidden-mobile">
		<section class="full centered">
			<%= image_tag "logo-white.png", :alt => "Twelve Twenty logo",:data => {:animate => 'logo', :color => 'white'} %>
		</section>
	</div>
<% end %>

<div class="container">
	<div class="row blog-teaser">
		<% @goodies.each do |goody| %>

			<article class="one-third">
				<header style="background-image: url('<%= goody.thumb_url %>')"></header>
				<div class="content">
					<div class="padded">
						<h3><%= goody.title %></h3>
						<p><%= h goody.teaser %></p>
						<em><%= link_to "read more", goody, :class => "arrow" %></em>
					</div>
				</div>
				<footer></footer>
			</article>

		<% end %>
	</div>
</div>

<!--

<% @goodies.each do |goody| %>
    <td><%= link_to 'Show', goody %></td>
    <td><%= link_to 'Edit', edit_goody_path(goody) %></td>
    <td><%= link_to 'Destroy', goody, method: :delete, data: {confirm: 'Are you sure?'} %></td>
<% end %>

<%= link_to 'New Goody', new_goody_path %>

-->
