<% content_for :header do %>

	<div class="row">
		<div class="one-third centered">
			<h1>Apps you didn't know you needed</h1>
			<em>Here at Twelve Twenty, we make apps for the Mac, iPhone and iPad. The kind of apps we need ourselves, refined and polished for people like you to use and enjoy.</em>
		</div>
		<div class="one-third centered"><%= image_tag "logo.png", :alt => "Twelve Twenty logo" %></div>
		<div class="one-third hidden-phone centered">
			<h1>Latest tweets</h1>
			<em>Get Together from
				<a href="https://twitter.com/twelve_20">@twelve_20</a> is quite possibly one of the most beautiful and pleasant ways to plan social events
				<a href="http://twelvetwenty.nl/gettogether">http://twelvetwenty.nl/gettogether</a>
			</em>
			<em>Follow us <a href="https://twitter.com/twelve_20">@twelve_20</a></em>
		</div>
	</div>

<% end %>

<section class="third floater">
	<h1>Life & Productivity</h1>
	<p>With backgrounds of design and development in the digital era, we're used to make prints, cards, t-shirts, interfaces, websites and, of course, apps. While we're at it, we see a lot of room for improving workflows, saving time and enjoying the workflows.</p>
	<p>With our apps, we try to address these productivity issues in both our working and private lives, for us all to win a little time back for the good things in life.</p>
</section>

<ul class="two-thirds floater apps">
	<li class="uberlayer">
		<h1>Uberlayer</h1>
		<em>Always on top, proof those pixels like a boss</em>
	</li>
	<li class="willitfit">
		<h1>Will it fit</h1>
		<em>Review your designs at their true physical size</em>
	</li>
	<li class="gettogether">
		<h1>Get Together</h1>
		<em>The fastest way to create calendar events on iOS</em>
	</li>
</ul>

<div class="clearfix"></div>

<section>

	<h1></h1>

	<table>
		<% @blogs.each do |blog| %>
			<tr>
				<td><%= blog.title %></td>
				<td><%= blog.author %></td>
				<td><%= link_to 'Show', blog %></td>
				<td><%= link_to 'Edit', edit_blog_path(blog) %></td>
				<td><%= link_to 'Destroy', blog, method: :delete, data: {confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
	</table>
</section>
