<% content_for :header do %>

	<h1 class="hidden">Home</h1>
	<div class="row">

		<section class="one-third centered payoff">
			<h2>Make apps, not war.</h2>
		</section>
		<section class="one-third centered"><%= image_tag "logo.png", :id => "twelvetwenty-logo", :width => 141, :height => 163, :alt => "Twelve Twenty logo", :data => {:autostart => true, :animate => true, :json => image_path("animations/logo-animatie-zwart-helft.json")} %></section>
		<% if @tweets.is_a? Array %>
			<section class="one-third hidden-mobile centered">
				<h2>What people are saying</h2>
				<p class="tweet"><%= render 'random-tweet', :tweets => @tweets  %></p>
			</section>
		<% end %>
	</div>

<% end %>
<div class="container">
	<div class="row">
		<section class="one-third">
			<h2>Be productive</h2>
			<p>With backgrounds of design and development in the digital era, we're used to making prints, cards, t-shirts, interfaces, websites and, of course, apps. While we're at it, we see a lot of room for improving workflows, saving time and enjoying the workflows.</p>
			<p>With our apps we try to address these productivity issues in both our working and private lives, for us all to win a little time back for the good things in life.</p>
		</section>


		<ul class="two-thirds apps trigger">
			<%= render("trigger-uberlayer") %>
			<%= render("trigger-get-together") %>
			<%= render("trigger-will-it-fit") %>
		</ul>
	</div>

	<h2 class="hidden">From the blog</h2>

	<div class="row blog-teaser">
		<%
			more_titles = Array.new
			more_titles.push "Tell me more..."
			more_titles.push "Read all about it!"
			more_titles.push "Gimme that goodie!"
		%>
		<% @blogs.each do |blog| %>
			<%= render "third-block", :data => blog, :more_title => more_titles.shift %>
		<% end %>

		<%= render "third-block", :data => @goody, :more_title => more_titles.shift, :goody => true if @goody %>
	</div>
</div>
