<% title "Uberlayer" %>
<% description "Admit it, semitransparent, always-on-top pixel proofing just became sexy..." %>

<div class="container">

  <p class="centered" style="margin-bottom: 90px">
    <%= image_tag "logo.png" %>
  </p>

	<h1 class="hidden">Uberlayer</h1>
	<%= render 'vimeo_video', :video_id => "39413714" %>

	<div class="row">
		<article class="half centered-column centered">
			<h2><%= image_tag "apps/dotsred.png", :style => 'margin-right: 10px' %>Uberlayer<%= image_tag "apps/dotsred.png", :style => 'margin-left: 10px' %></h2>
			<p>With the Uberlayer app you can put floating images on top of your computer screen. Maybe you want to proof a design to the pixel, watermark a presentation or always have that special picture of your mother on top?</p>
		</article>
	</div>

	<div class="row">
		<article class="half padded requirements">
			<h2>Requirements for Uberlayer</h2>
			<ul>
				<li>A love for pixels</li>
				<li>A somewhat recent Mac (<%= link_to "64-bit", "http://support.apple.com/kb/HT3696", :title => "How to tell if your Mac is 64-bit" %>)</li>
				<li>OS X Snow Leopard (10.6) or later</li>
			</ul>
		</article>
		<article class="half centered">
			<div class="call-to-action">
				<%= render "shared/call-to-action-button", :link => "http://itunes.apple.com/app/id510139938", :color => "orange", :text => "Download Uberlayer", :price => "$3.99 / €2,99" %>
			</div>
		</article>
	</div>

</div>
