<% content_for :header do %>
	<%= render "apps/header" %>
<% end %>
<div class="container">
	<h1 class="hidden">Uberlayer</h1>
	<%= render 'vimeo_video', :video_id => "39413714" %>

	<div class="row">
		<article class="one-third centered-column centered">
			<h2><%= image_tag "apps/dotsred.png", :style => 'margin-right: 10px' %>Uberlayer<%= image_tag "apps/dotsred.png", :style => 'margin-left: 10px' %></h2>
			<p>With the Uberlayer app you can put floating images on top of your computer screen. Maybe you want to proof a design to the pixel, watermark a presentation or always have that special picture of your mother on top?</p>
		</article>
	</div>

	<%= render 'slideshow', :images => ["/assets/dummy/test-slideshow.png"] %>

	<div class="row">
		<article class="one-third centered-column centered">
			<h2><%= image_tag "apps/dotsred.png", :style => 'margin-right: 10px' %>Shortcuts<%= image_tag "apps/dotsred.png", :style => 'margin-left: 10px' %></h2>
			<p>Position the image with pixel precision using the keyboard shortcuts, change the transparency so you can see through or lock the image so it will stay put, exactly where you want it. Locking will also let you click 'through' the app, so you can work with whatever app you have running below.</p>
		</article>
	</div>

	<div class="row">
		<article class="half">
			<%= image_tag "apps/uberlayer/shortkey-move-.png" %><br>
			<%= image_tag "apps/uberlayer/shortkey-lockimage.png" %><br>
			<%= image_tag "apps/uberlayer/shortkey-pastimage.png" %><br>
		</article>
		<article class="half">
			<%= image_tag "apps/uberlayer/shortkey-lesstransparant.png" %><br>
			<%= image_tag "apps/uberlayer/shortkey-moretransparant.png" %>
		</article>
	</div>

	<div class="row">
		<article class="half padded requirements">
			<h2>Requirements</h2>
			<ul>
				<li>Max OSX 10.12 or higher</li>
				<li>Measure tape</li>
				<li>Throw away your printer</li>
			</ul>
		</article>
		<article class="half centered">
			..todo...
		</article>
	</div>

</div>