<% content_for :header do %>
	<%= render "apps/header" %>
<% end %>

<div class="container">
	<h1 class="hidden">Will it fit</h1>

	<%= render 'vimeo_video', :video_id => "42493161" %>

	<div class="row">
		<article class="half text">
			<h2>Will it fit</h2>
			<p>Do you want to review your designs for print or devices at their true physical size? Will it fit is for you! With our massive database of physical screen dimensions, we know exactly how many pixels on your screen correspond with an inch or a centimeter in the physical world.</p>
		</article>
		<article class="half centered hidden-mobile">
			<%= image_tag "apps/willitfit/macwillitfit.png" %>
		</article>
	</div>

	<div class="row full">
		<div class="slideshow">
			<%= render 'slideshow', :images => %w{apps/willitfit/screenshots/willitfit-screen-1.png apps/willitfit/screenshots/willitfit-screen-2.png} %>
		</div>
	</div>

	<div class="row">
		<article class="half text">
			<h2>Save a tree!</h2>
			<p>Whether you design business cards, letterheads, iPhone apps or mobile websites, it is a breeze to get the right physical dimensions on your Mac's screen. It's way faster than proof-printing and better for the environment too.</p>
		</article>
		<article class="half centered hidden-mobile">
			<%= image_tag "apps/willitfit/iconswillitfit.png" %>
		</article>
	</div>

	<div class="row">
		<article class="half text">
			<h2>Free templates</h2>
			<p>Use one of the built-in templates or customize them at will. And because we're nice guys, we'll let you have as many as you want at no extra charge!</p>
		</article>
		<article class="half centered">
			<%= image_tag "apps/willitfit/screenshots/will-it-fit-app-dropdown.png" %>
		</article>
	</div>

	<div class="row">
		<article class="half padded requirements">
			<h2>Requirements</h2>
			<ul>
				<li>Max OSX 10.12 or higher</li>
				<li>Measure tape</li>
				<li>Throw away your printer</li>
			</ul>
		</article>
		<div class="call-to-action">
			<section class="half centered">
				<div class="appstore">€13,99</div>
				<a href="">Buy in the app store<%= image_tag "contact/btnarrow.png" %></a>
			</section>
		</div>
	</div>

</div>