<% content_for :header do %>
	<div class="column" xmlns="http://www.w3.org/1999/html">
		<section class="full centered">
			<%= image_tag "logo-white.png", :alt => "Twelve Twenty logo",:data => {:animate => 'logo', :color => 'white'} %>
		</section>
	</div>
<% end %>

<div class="container">
	<div class="column">
		<section class="two-thirds">
			<h1>Contact</h1>
			<p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
		</section>
	</div>

	<div class="column contact-us">
		<section class="half centered">
			<%= image_tag "contact/iconmail.png" %>
			<a href="">SEND US AN EMAIL<%= image_tag "contact/btnarrow.png" %></a>
		</section>
		<section class="half centered">
			<%= image_tag "contact/icontwitter.png" %>
			<a href="">FOLLOW US ON TWITTER<%= image_tag "contact/btnarrow.png" %></a>
		</section>
	</div>
</div>