<% content_for :header do %>
	<div class="column" xmlns="http://www.w3.org/1999/html">
		<section class="full centered">
			<%= image_tag "logo-white.png", :alt => "Twelve Twenty logo",:data => {:animate => 'logo', :color => 'white'} %>
		</section>
	</div>
<% end %>

<div class="container">
	<div class="column">
		<section class="two-thirds">
			<h1>Why or how to contact us?</h1>
			<p>We can’t make our apps without people like you as our customers. And we wouldn’t know what our customers appreciate or despise without feedback. That’s why we value you, taking time to contact us.</p>
			<p>If you have a suggestion, a remark or -heavens forbid- found a bug in one of our apps, please let us know. We’re friendly people!</p>
		</section>
	</div>

	<div class="column call-to-action">
		<section class="half centered">
			<%= image_tag "contact/iconmail.png" %>
			<a href="">SEND US AN EMAIL<%= image_tag "contact/btnarrow.png" %></a>
		</section>
		<section class="half centered">
			<%= image_tag "contact/icontwitter.png" %>
			<a href="">FOLLOW US ON TWITTER<%= image_tag "contact/btnarrow.png" %></a>
		</section>
	</div>
</div>