<div class="container">
	<div class="row full">
		<h1>Listing images</h1>

		<table>
			<tr>
				<th>Artwork</th>
				<th>Markdown</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>

			<% @images.each do |image| %>
				<tr>
					<td><%= image_tag image.artwork_url(:images_thumb).to_s %></td>
					<td class="copy-to-clipboard">
						<textarea style="width: 400px; height: 100px;">![<%= image.alt %>](<%= image.artwork_url.to_s %>)</textarea>
					</td>
					<td><%= link_to 'Show', image %></td>
					<td><%= link_to 'Edit', edit_image_path(image) %></td>
					<td><%= link_to 'Destroy', image, method: :delete, data: {confirm: 'Are you sure?'} %></td>
				</tr>
			<% end %>
		</table>

		<br/>

		<%= link_to 'New Image', new_image_path %>
	</div>
</div>
