<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<%
	   page_title = yield(:title)
	   if page_title.length == 0
		 page_title = 'Twelve Twenty'
	   end

	   page_description = yield(:description)
	   if page_description.length == 0
		 page_description = 'Here at Twelve Twenty we make apps for the Mac, iPhone and iPad. The kind of apps we need ourselves, refined and polished for people like you to use and enjoy.'
	   end

	%>

	<title>
		<%= page_title %>
	</title>
	<meta name="description" content="Apps you didn't know you needed">

	<meta property="og:type" content=website>
	<meta property="og:title" content="<%= page_title %>"/>
	<meta property="og:description" content="<%= page_description %>"/>
	<meta property="og:url" content="<%= request.url %>"/>
	<meta property="og:image" content="<%= root_url[0...-1] + image_path("share.jpeg") %>"/>
	<meta property="og:caption" content="Twelve Twenty"/>

<% if params.has_key?(:app) && params[:app] == 'gettogether' %>
	<meta name="apple-itunes-app" content="app-id=536900789">
<% end %>

	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<%= stylesheet_link_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>

	<%= javascript_include_tag 'modernizr' %>

	<%= javascript_tag "Modernizr.load();" %>
</head>

<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]} #{params[:controller]}-#{params[:action]}-#{params[:app]}" %>">
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started --><!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em>
	<a href="http://browsehappy.com/">Upgrade to a different browser</a> or
	<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
</p><![endif]-->

<header>
	<div class="container main-menu-toggle hidden-desktop">
		<ul class="toggle-menu">
			<li id="toggle-button" class="toggle-button">
				<div class="arrow"><%= image_tag "menu-arrow.png" %></div>
				MENU
			</li>
		</ul>
	</div>
	<div class="divider"></div>
	<div class="container">
		<ul class="main-menu">
			<li class="item <%= "current" if params[:controller] == "home" %>"><%= link_to "home", {:controller => :home} %></li>
			<li class="item <%= "current" if params[:controller] == "apps" %>"><%= link_to "Apps", :controller => :apps, :action => :show, :app => :uberlayer %></li>
			<li class="item <%= "current" if params[:controller] == "goodies" %>"><%= link_to "Goodies", :controller => :goodies %></li>
			<li class="item spacer">&nbsp;</li>
			<li class="item <%= "current" if params[:controller] == "about" %>"><%= link_to "About", :controller => :about %></li>
			<li class="item <%= "current" if params[:controller] == "blogs" %>"><%= link_to "Blog", :controller => :blogs %></li>
			<li class="item <%= "current" if params[:controller] == "contact" %>"><%= link_to "Contact", :controller => :contact %></li>
			<% if current_user %>
				<li class="item <%= "current" if params[:controller] == "artworks" %>"><%= link_to "Artwork", :controller => :artworks %></li>
			<% end %>
		</ul>
	</div>
</header>

<div class="sharing">
	<a href="https://www.facebook.com/dialog/feed?app_id=<%= APP_CONFIG["facebook_key"] %>&link=<%= request.url %>&redirect_uri=<%= request.url %>">
		<div class="facebook"></div>
	</a>
	<a href="http://twitter.com/home?status=<%= Rack::Utils.escape page_title + " - " + request.url %>" target="_blank">
		<div class="twitter"></div>
	</a>
</div>

<div class="wrapper header" id="heading">
	<div class="container">
		<%= yield :header %>
	</div>
</div>

<% if yield.length > 0 %>
	<div class="wrapper content">
		<%= yield %>
	</div>
<% end %>

<div class="footer-border"></div>
<footer class="wrapper footer">
	<div class="container">

		<div class="login">
			<% if current_user %>
				<%= link_to image_tag("keyhole.png"), signout_path, id: "sign_out", "data-no-turbolink" => "data-no-turbolink" %>
			<% else %>
				<%= link_to image_tag("signin.png"), "/auth/facebook", id: "sign_in", "data-no-turbolink" => "data-no-turbolink" %>
			<% end %>
		</div>

		<ul>
			<a href="http://twitter.com/twelve_20">
				<li class="twitter"></li>
			</a> <a href="http://www.facebook.com/twelvetwenty.nl">
			<li class="facebook"></li>
		</a>
		</ul>

	</div>

</footer>

<%= javascript_include_tag 'application' %>

<script>
	var _gaq = [
		['_setAccount', 'UA-29165093-1'],
		['_trackPageview']
	];

	(function (d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s)
	}(document, 'script'));

	// track all outgoing links with Google Analytics
	var a = document.getElementsByTagName('a');
	for (i = 0; i < a.length; i++) {
		if (a[i].href.indexOf(location.host) == -1 && a[i].href.match(/^http:\/\//i)) {
			a[i].onclick = function () {
				var link = this.href.replace(/^http:\/\//i, '');
				var category = 'outgoing_link';
				_gaq.push(['_trackEvent', category, link]);
			}
		}
	}
</script>
</body>
</html>
